{% extends 'base.html' %}
{% block content %}
    <div class="container">
       <form class="pt-5 mt-2">
            <h3>Login</h3>
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" class="form-control" id="username" placeholder="Your username">
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" placeholder="Your password">
            </div>
            <div>
                <button class="btn btn-primary">Login</button>
            </div>
        </form>
    </div>
{% endblock %}