{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <form id="form" class="pt-5 mt-2" method="post" action="{% url 'password' %}">
            {% csrf_token %}
            <h3>Change Password</h3>
          <div class="mb-3">
                <label for="oldPassword" class="form-label">Old Password</label>
                <input name="oldPassword" required type="password" class="form-control" id="oldPassword"
                       placeholder="Enter old password">
            </div>

            <div class="mb-3">
                <label for="newPassword" class="form-label">New Password</label>
                <input name="newPassword" required type="password" class="form-control" id="newPassword"
                       placeholder="Enter new password">
            </div>
            <div class="mb-3">
                <label for="newPasswordConfirm" class="form-label">New Password Confirm</label>
                <input name="newPasswordConfirm" required type="password" class="form-control" id="newPasswordConfirm"
                       placeholder="Enter new password(again)">
            </div>
            {% if error  %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endif %}
            <div>
                <button class="btn btn-primary">Change Password</button>
            </div>
        </form>
    </div>
    <script>
        const password = document.getElementById('newPassword');
        const passwordConfirm = document.getElementById('newPasswordConfirm');
        const form = document.getElementById('form');
        form.addEventListener('submit', (e) => {
            if (password.value !== passwordConfirm.value) {
                e.preventDefault();
                alert('Passwords do not match');
            }
        })
    </script>
{% endblock %}